@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;900&display=swap');

:root {
  --main-bg-color: #d8ebb5;
  --main-accent-color: #d9bf77;
  --navbar-color: #2b580c;
  --sub-color: #639a67;
  --amazon-color: #FF9900;
  --rakuten-color: #bf0000;
}

body {
  /* background-color: var(--main-bg-color); */
  font-family: 'Noto Serif JP', serif;
}

.navbar {
  background-color: var(--navbar-color);
}

.navbar a {
  color: white;
}

.breadcrumb {
  background-color: var(--main-bg-color);
}

.breadcrumb a {
  color: var(--navbar-color);
}

.headerImage {
  height: 100%;
}

.itemCol {
  margin-bottom: 6rem;
}

.itemTItle {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-weight: bold;
}

.itemTitleIcon {
  height: 32px;
  width: 32px;
}

.itemHeaderImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.itemHr {
  margin: 0;
  height: 1px;
  border: none;
  color: var(--main-accent-color);
  background-color: var(--main-accent-color);
}

.itemCard {
  text-align: center;
  background-color: transparent;
  border: 0;
  border-color: var(--sub-color);
}

.itemCardTtle {
  margin-top: 1rem;
}

.itemDisp {
  padding: 1rem;
}

.itemSchedule p {
  display: inline-block;
  text-align: left;
}

.itemDetailButton {
  text-align: center;
  width: 100%;
}

.adCard {
  padding: 0.5rem;
}

.adImage {
  text-align: center;
}

.amazonBtn {
  background-color: var(--amazon-color);
  border: 0;
}

.rakutenBtn {
  background-color: var(--rakuten-color);
  border: 0;
}
